.padding-10{
    padding: 10px;
}

.DESC:after{
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 5px;
}
.ASC:after {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-left: 5px;
}
.simple-table th.sortable{
    cursor: pointer;

}

.simple-table th.sortable:hover {
    background-color: #e3e3e3;
}

.preloader{
    background-position: right;
    background-image: url(images/preloader.gif);
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 25px;
}
.number-page{
    float: left;
    padding: 3px 6px;
    background-color: #e3e3e3;
    border: 1px solid #bcc760;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
}

.current-page{
    background-color: #adaeac !important;
}

.prev,.next {
    padding: 6px 6px !important;
}

.ui-corner-z-index{
    z-index: 99999999;
}
span.property{
    color: red;
}
span.group{
    color: green;
}

.edit-group > .modal-dialog{
    width: 70%;
}

@media screen and (max-width: 900px){
    .edit-frequency-reports > .modal-dialog{
        width: 100%;
    }
}
@media screen and (min-width: 889px){
    .edit-frequency-reports > .modal-dialog{
        width: 50%;
    }
}

.add_new_frequency{
    padding: 5px;
    border: 1px solid #adaeac;
    border-radius: 5px;
}
.row_new_frequency{
    padding: 5px;
    border: 1px solid #adaeac;
    border-radius: 5px;
}